#main_container {
    background-color: #f2f8ff;
    max-width: 900px;
}

#header {
    color: #e5eaff;
    min-height: 100px;
    background-color: #14263d;
    font-weight: bold;
    max-width: 900px;
}

#xkcd_image {
    max-height: 400px;
    cursor: hover;
}

.generator_container {
    background-color: #e1e5ec;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    -webkit-box-shadow: inset 10px 10px 88px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: inset 10px 10px 88px 0px rgba(0,0,0,0.46);
    box-shadow: inset 10px 10px 88px 0px rgba(0,0,0,0.46);
}

.errors {
    max-width: 80%;
    background-color: #fbff92;
    margin: 0px auto 10px auto;
    color: red;
}

.password {
    max-width: 80%;
    background-color: #4d506f;
    font-size: 30px;
    font-weight: bold;
    margin: 10px auto 10px auto;
    min-width: 60px;
    border: ridge #cee2ff;
    color: #cee2ff;
}

.theCheckbox {
    max-width: 250px;
    background-color: #deffbc;
    border: groove #fff95b;
    margin: 5px auto 0px auto;
    text-align: left;
}

.btn {
    background-color: #414f6b;
    border: outset #fff95b;
    color: white;
}